/*DECLARANDO VARIAVEIS DENTRO DO CSS*/
:root{
    --vermelho:#e50914;
    --preto:#141414;
}

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
   
}

header .logo{
    color: var(--vermelho);
}